@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #213547;
        
        /* --background: #242424; */
        /* --foreground: #ffffffde; */

        --primary: #646cff;
        --primary-hover: #535bf2;

        --secondary: #f3f4f6;
        --secondary-hover: #f3f4f6e6;

        --destructive: #ef4444;

        --border: #e5e7eb;
        --border-dark: #6b7280;
    }
}

@layer base {
    body {
        background-color: var(--background);
        color: var(--foreground);
    }

    * {
        scroll-behavior: smooth;
    }
}
